.location-selection:hover{
    background: rgba(211, 211, 211, 0.8);
    cursor: pointer;
}
#selected{
    background: rgba(211, 211, 211);
}
.error-location{
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}