.rc-steps{
    width: 80%;
    margin: 0 auto;
    margin-top: 22px;
}
.step-1{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}
.img-div{
    width: 230px;
    height: 230px;
    background: rgba(211, 211, 211, 0.6);
}
.img-upload{
    display: none;  
}
.img-label{
    cursor: pointer;
}
.bevarages:hover{
    border: 2px solid lightgray;
    cursor: pointer;
}
.selected{
    opacity: 0.4;
}
.center-div{
    margin: 0 auto;
}
.meeting-time-box{
    border: 2px solid rgb(255, 107, 107 , 0.3);
    background: rgb(255, 107, 107 , .1);
    padding: 35px;
    transition: background 300ms ease-in-out;
}
.meeting-time-box h1{
    font-size: 5em;
}
.meeting-time-box:hover{
    background: rgb(255, 107, 107);
    cursor: pointer;
}
.selected-time{
    background: rgb(255, 107, 107);
}
.font-1{
    font-size: 2.5em
}
.mt-1{
    margin-top: 40px!important;
}
.none{
    display: none;
}
.custom-loader{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index : 1000;
}
.opacity-1{
    filter: brightness(30%) blur(2px);
}
.profile-pic{
    width: 320px;
    height : 320px;
    background: lightgray;
    border-radius: 200px;
    margin : 0 auto;
}
.loader{
    margin: 0;
    padding: 0;
    font-family: ‘Arial Narrow’, sans-serif;
    font-weight: 400;
    font-size: 3.7em;
    color: rgb(255, 107, 107 , 0.9);
  }
  
  span {
    position: relative;
    top: 0.63em;  
    display: inline-block;
    text-transform: uppercase;  
    opacity: 0;
    transform: rotateX(-90deg);
  }
  
  .let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
  }
  
  .let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
  }
  
  .let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
  }
  
  .let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;
  
  }
  
  .let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
  }
  
  .let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
  }
  
  .let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
  }
  
  @keyframes drop {
      10% {
          opacity: 0.5;
      }
      20% {
          opacity: 1;
          top: 3.78em;
          transform: rotateX(-360deg);
      }
      80% {
          opacity: 1;
          top: 3.78em;
          transform: rotateX(-360deg);
      }
      90% {
          opacity: 0.5;
      }
      100% {
          opacity: 0;
          top: 6.94em
      }
  }


  @media (max-width : 580px){
      .step-1{
            width: 90%;
      }
      .rc-steps{
          width: 100%;
      }
      .img-div{
        width: 220px;
        height: 220px;
        margin : 0 auto;
        }
        .bevarages{
            width : 70%;
            height : 240px;
            text-align: center
        }
        .meeting-time-box{
            width : 75%;
            margin: 0 auto;
        }
    }
    @media (max-width : 760px){
        
        .img-div{
            width: 280px;
            height: 280px
        }
        .user-img{
          width: 280px;
          height: 280px
        }
  }

  @media (max-width : 430px){
    .step-1{
        width: 100%;
    }
    .bevarages{
        width : 100%
    }
    .meeting-time-box{
        width: 95%;
    }
  }
  