#header{
    display: flex;
    justify-content: space-between;
    background: #ff6b6b;
    color: white;
    padding: 6px;
    align-items: center;
    position: fixed;
    width : 100%;
    top: 0;
    z-index: 1000;
    margin-bottom : 100px
}
.menu-bar{
    background: #fa7272;
    width: 250px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 500;
}

.menu-bar ul{
    list-style-type: none;
}
.hide-menu{
    display: none
}
.open-menu{
    animation: open-menu .5s 1 0s linear forwards;
}

.close-menu{
    animation: close-menu .5s 1 0s linear forwards;
}

@keyframes open-menu{
    0%{
        transform: translateX(-250px);
        opacity: 0;
        }
    50%{
        transform: translateX(-100px);
        opacity: 0.5;
        }
    100%{
        transform: rotate(xx) translateX(0px);
        opacity: 1;
        }
}
@keyframes close-menu{
    0%{
        transform: rotate(xx) translateX(0px);
        opacity: 1;
        }
    50%{
        transform: translateX(-100px);
        opacity: 0.5;
        }
    100%{
        transform: translateX(-250px);
        opacity: 0;
        }
}