.center-calender{
    margin: 0 auto;
    margin-top: 50px;
}
.custom-btn{
    width: 60%;
    margin: 20px auto;
}
.vertical-center{
    margin : auto 0;
}

@media (max-width : 770px){
    .time-div{
        margin-top: 40px;
        width: 80%;
    }
}